<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        Dich vu web la cong cu giup cac ung dung khac nhau giao tiep qua mang, thuong bang giao thuc HTTP.
        Hai loai pho bien la SOAP va REST. SOAP su dung XML va co cau truc chat che, phu hop voi he thong can
        bao mat cao. REST don gian hon, thuong dung JSON va cac phuong thuc HTTP nhu GET, POST. Dich vu web rat
        quan trong vi giup cac he thong khac nhau ket noi, chia se du lieu va chuc nang, bat ke ngon ngu hay nen
        tang. Dieu nay giup phat trien phan mem linh hoat va de dang tich hop.
    </div>

</body>
</html>