<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Bang so sanh giua soap va rest</h1>
     <div>
         - kien truc:
         +soap:	Stateful hoặc Stateless
         +rest:luon stateless
         -dinh dang du lieu:
         +soap:	Chỉ hỗ trợ XML
         +rest:Hỗ trợ JSON, XML, HTML, Plain Text
         -tính linh hoạt:
         +soap:Chỉ sử dụng HTTP (thường là POST), hoặc SMTP
         +rest:Hỗ trợ đầy đủ các phương thức HTTP: GET, POST, PUT, DELETE,...
         -tính bảo mât:
         +soap:	Hỗ trợ WS-Security (nâng cao, tích hợp tốt với doanh nghiệp)
         +rest:Dựa vào HTTPS để bảo mật, không có chuẩn bảo mật riêng
     </div>
</body>
</html>