<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        RESTful API hoat dong dua tren mot so nguyen tac giup don gian hoa va toi uu hoa qua trinh giao
        tiep giua cac he thong. Truoc het, nguyen tac stateless quy dinh moi yeu cau tu client gui den
        server phai chua day du thong tin, va server se khong luu trang thai cua client giua cac lan goi.
        Tiep theo, nguyen tac client-server giup tach biet ro vai tro cua client (giao dien nguoi dung) va
        server (xu ly du lieu), tu do de dang mo rong va bao tri. RESTful API su dung cac HTTP methods nhu
        GET de lay du lieu, POST de tao moi, PUT de cap nhat, va DELETE de xoa tai nguyen. Nho cac nguyen
        ly nay, REST tro thanh giai phap phu hop va hieu qua cho cac ung dung web hien dai.
    </div>

</body>
</html>